@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0;
}

.body {
  display: flex;
  justify-content: center;
  align-items: bottom;
  flex-direction: column-reverse;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 16px;
  background-color: rgb(216, 17, 17);
  background:url(background.jpeg);
  transition-duration: 5ms;

}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

li {
  background-color: rgba(0, 0, 0, 0.63);
  backdrop-filter: blur(10px) saturate(160%) contrast(180%);
  -webkit-backdrop-filter: blur(10px) saturate(160%) contrast(180%);
  border-radius: 10em;
  margin: 1.4em 0;
  box-shadow: rgb(199, 198, 198) 0px 2px 8px 0px;
}

a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  padding: 1em 8rem;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
}

@media (max-width: 500px) {
  a {
    padding: 1em 4rem;
  }
}

ul {
  box-sizing: border-box;
  list-style: none;
  margin: 0 auto;
  padding: 2em;
  max-width: 500px;
}

header {
  margin-top: 1em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header > img {
  width: 6em;
  height: 6em;
  border-radius: 100px;
  border: 1px solid white;
  box-shadow: rgba(255, 255, 255, 0.24) 0px 2px 80px 0px;
 
}

header > h1 {
  display: inline-block;
  font-size: 0.8em;
  font-weight: bold;
  border-radius: 1em;
  background-color: rgba(255, 255, 255, 0);
  color: #ffffff7e;
  margin-top: 1.5em;
  margin-bottom: 0;
  padding: 0.3em 0.6em;
  border: 2px solid #fffa;
  backdrop-filter: blur(10px) saturate(160%) contrast(180%);
  -webkit-backdrop-filter: blur(10px) saturate(160%) contrast(180%);
}


